* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    height: 100vh;
    background-color: #B0D7DB;
    position: relative;
}

.container img {
    width: 30%;
    position: absolute;
    top: 25%;
    left: 20%;
}

.container .sub-title {
    color: rgba(255, 255, 255);
    position: absolute;
    top: 15%;
    left: 4%;
    font-size: 2rem;
    font-family: 'Anek Odia', sans-serif;
}

.container .sub-container {
    background-color: rgba(255, 255, 255);
    height: 100%;
    width: 65%;
    border-radius: 50px 0 0 50px;
    float: right;
}

.container .sub-container form {
    width: 70%;
    height: 100vh;
    text-align: center;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .sub-container table {
    text-align: center;
    border-spacing: 25px;
}

.container .sub-container table td input {
    width: 25vw;
    height: 5vh;
    border: 0;
    outline: none;
    border-bottom: 1px solid #E9E8E9;
    cursor: pointer;
}

.container .sub-container table td h2 {
    text-align: left;
    color: rgb(127, 205, 231);
    text-align: center;
}

.container .sub-container table td h5 {
    text-align: left;
    color: #ACAAAC;
}

.container .sub-container table td #btn-Create {
    text-align: center;
    width: 25vw;
    height: 5vh;
    border-radius: 10px;
    border: 1px solid #50A6AE;
    background-color: #5ac1ca;
    font-family: 'Akshar', sans-serif;
    font-weight: bold;
    color: #fff;
}

span {
    color: #6fd2e3;
}

#sign-up button {
    text-align: center;
    width: 46%;
    height: 6vh;
    background-color: #fff;
    border: 1px solid #E9E8E9;
    border-radius: 13px;
    cursor: pointer;
}

#sign-up button:hover {
    border: 1px solid #6ab0ed;
}

.container .sub-container table td input:hover {
    border-bottom: 1px solid #3aa4f0;
}